* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* Use your preferred font stack */
}

body.dark-mode {
  background-color: #121212;
  color: white;
}